
@background-img:url('/src/img/boxes.jpg');
@background-color:rgba(105, 91, 91, 0.705);
body{
    background-image: @background-img;
   
}

.container{
    background: @background-color;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: black;
        text-decoration: underline;
    }
  

}

.form{
    display: flex;
  flex-direction: column;
align-items: center;
border: dotted;
background-color: rgba(25, 107, 179, 0.24);
color: black;
padding: 2vh 2vw;
    
}

.sub{
    .form
}