
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
}

.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
  color: white;

}
.link{
  color: white;
}







.form-inputs{
  display: flex;
}

h3{
  padding: 1vw;
  margin: 0;
}

